.container {
  background: rgb(255,175,28);
  background: linear-gradient(301deg, rgba(255,175,28,0.7678100263852243) 11%, rgba(252,28,255,0.7678100263852243) 21%, rgba(147,48,196,1) 32%, rgba(228,106,41,0.6517150395778364) 47%, rgba(77,208,91,0.6517150395778364) 62%, rgba(217,33,80,0.6517150395778364) 79%, rgba(15,59,55,0.6517150395778364) 91%);
  text-align: center;
}